@import '../../../variables.scss';

.carousel {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image {
      position: relative;
      width: 600px;
      object-fit: contain;
    }

    @media (max-width: 480px) {
      &__image {
        width: 300px;
      }
    }
  }
}
  