@import '../../../variables.scss';

nz-card {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-component-image {
    width: 250px;
  }

@media (max-width: 480px) {
  nz-card {
    min-height: 100px;
    max-height: 200px;
    max-width: 190px;

  }

  .card-component-image {
    width: 100px;
  }
}
