@import '../../../variables.scss';
.header {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  background-color: $accent-color;

  &__logo {
    width: 80px;
    padding: 10px;
    img {
      width: 100%;
    }
  }
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0;
}

nz-footer {
  text-align: center;
}

nz-header {
  padding: 0 5px;
}

nz-layout {
  background-color: $background-color;
}
