<layout>
    <section class="home-header">
        <p class="home-header__span">
            Creamos empaques y bolsas ecológicas diseñadas a tu medida, con el alma de tu marca en cada detalle.
        </p>
        <p class="home-header__title">Haz que tu marca deslumbre y deje huella.</p>
        <p class="home-header__sub-title">
            Con bolsas que comunican tu esencia y cuidan el mundo.
        </p>
        <p class="home-header__description">
            Convertimos tus ideas en empaques memorables que posicionan tu marca, narran su propósito y la hacen visible en todo Colombia.
        </p>
    </section>
    <br>
    <app-carousel [images]="carouselData"></app-carousel>
    <app-products-list [products]="productsList"></app-products-list>
</layout>