<layout>
    <section class="home-header">
        <p class="home-header__span">
            Creamos empaques y bolsas ecológicas diseñadas a tu medida, con el alma de tu marca en cada detalle.
        </p>
        <p class="home-header__title">HAZ QUE TU MARCA DESLUMBRE Y DEJE HUELLA.</p>
        <p class="home-header__sub-title">
            Con bolsas que comunican tu esencia y cuidan el mundo.
        </p>
    </section>
    <br>
    <app-carousel [images]="carouselData"></app-carousel>
    <app-products-list [products]="productsList"></app-products-list>
</layout>