// 🎨 Paleta principal

$primary-color: #4CAF50;         // Verde ecológico
$secondary-color: #A1887F;       // Marrón kraft
$accent-color: #1685E3;          // Azul de acento
$background-color: #FAFAF0;      // Blanco cálido
$text-color: #333333;            // Texto principal
$text-secondary-color: #666666;  // Texto secundario
$text-accent-color: #202345;

// 🧱 Utilitarios
$white: #ffffff;
$black: #000000;

// 💬 Tipografía
$font-heading: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;
